
Pending Works :


1) 
    In all page we need add a flash message section


4)
    Gym page

    4.a)
        location


5)
    issue
        whenever im in gym owner mode after any progress it take me to normal user mode why is this happening?


7)
    History page

    7.a)
        my reserved activiy deletion button is not working

    7.b)
        in owner mode create activiy button is not working 

    7.c)
        create activiy page is not yet build create activiy or update activity page.
        we only have update activiy time slot page
