
Pending Works :


1) 
    In all page we need add a flash message section


4)
    Gym page

    4.a)
        location


7)
    History page

    7.b)
        in owner mode create activity button is not working 

    7.c)
        create activiy page is not yet build create activiy or update activity page.
        we only have update activiy time slot page
